.nav-link {
	width: 100%;
	padding: 10px 0 ;
	text-decoration: none;
	margin: 0 auto;
	text-align: center;
}

.nav-link:hover {
	background-color: #3B3B98;
	color: white;
}

.nav-link.active {
	text-decoration: underline #FC427B;
}