.nav-menu {
	float: left;
	background-color: white;
	padding: 20px;
	width: 200px;

}

.menu-container {
	border: 2px solid #3B3B98;
	border-radius: 4px;
	margin: 5px;
	display: flex;
	flex-direction: column;
	width: 100%;
	
}

.nav-menu button {
	width: 50px;
	height: 45px;
	cursor: pointer;
	border-radius: 20%;
	background-color: white;
	border: none;
	float: left;
}

.menu {
	display: flex;
	flex-direction: column;
}


