.list-container {
	margin: 10px;
	border: 1px solid black;
	border-radius: 5px;
}

.titles-container {
	display: flex;
}

.content {
	display: flex;
}

.list-name, .list-category, .list-amount {
	width: 200px;
	border: 1px solid black;
	padding: 5px;
}

.title {
	width: 600px;
	text-transform: capitalize;
}

.remove-button {
	float: right;
	cursor: pointer;
	border: 2px solid black;
	border-radius: 4px;
	background-color: white;
}